body{
    margin:0px;
}


/* navbar start */
.navbar{
    height: 80px;
    width: 100%;
    background-color: tomato;
    padding: auto;
    
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    color:white;
    font-family: cursive;
    cursor: pointer;
    background-image: linear-gradient(tomato, red);
    padding: 10px;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 5px 30px;
    color: whitesmoke;
    background-image: linear-gradient(tomato, red);
    border-radius: 20px;

}

nav ul li:hover{
    color:tomato;
    background-image: linear-gradient(white, whitesmoke);
    border-radius: 20px;
    padding: 5px 30px;
}

.registration{
    color:tomato;
    background-color: azure;
    border-bottom-left-radius: 20px;
    padding: 5px;
}

/* navbar end  */
.topbar{
    display: flex;
    justify-content: space-between;
}
.topbanner{

}
h1{
    font-family: 'Bree Serif', serif;

}
.topa{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
topb{
    align-items: right;

}
.ncolor{
    color:tomato;
}
.linkb{
    text-decoration: none;
    color:white;
    padding:8px;
    border-radius: 50px;
    background-image: linear-gradient(tomato, orange);
    font-weight: 800

}

h3{
    font-weight: ;
    font-family: Arial, Helvetica, sans-serif;
}

/* exp  */
.exp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}